.card {
  padding: var(--space-lg);
  border-radius: var(--radius-normal);
}

.level1 {
  background-color: var(--background-secondary);
}
.level2 {
  background-color: var(--background-tertiary);
}
.level3 {
  background-color: var(--background-primary);
}

.floating {
  background-color: var(--background-floating);
}

.level1:has(.level2, .level3) {
  border-radius: var(--radius-large);
}
