.interactive {
  color: var(--interactive-normal);
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-within {
    color: var(--interactive-hover);
  }

  &:active {
    color: var(--interactive-active);
  }
}

.interactiveBackground {
  background-color: inherit;
  cursor: pointer;

  &:hover,
  &:focus,
  &:focus-within {
    background-color: var(--interactive-background-hover);
  }

  &:active {
    background-color: var(--interactive-background-active);
  }
}
