.container {
  margin: var(--space-sm) 0;
}

.mainRow {
  display: flex;
  gap: var(--space-md);
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: var(--space-sm);
}

.switch {
  border: 2px solid var(--control-background);
  border-radius: var(--radius-full);
  width: 52px;
}

.knob {
  position: relative;
  margin: 2px;
  padding: 1px;
  height: 20px;
  width: 20px;
  border-radius: var(--radius-full);
  background-color: var(--control-foreground);
}

.disabled {
  cursor: not-allowed;
  opacity: 60%;

  & .mainRow {
    cursor: not-allowed;
  }
}
