.container {
  margin: var(--space-sm) 0;
}

.mainRow {
  display: flex;
  gap: var(--space-md);
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: var(--space-sm);
}

.switch {
  background-color: var(--_input-color);
  border: var(--_input-border);
  border-radius: 100000px;
  width: 48px;
}

.knob {
  position: relative;
  margin: 1px;
  height: 18px;
  width: 18px;
  border-radius: 100000px;
  background-color: var(--background-floating);
  color: var(--_input-color);
}

.disabled {
  cursor: not-allowed;
  opacity: 60%;

  & .mainRow {
    cursor: not-allowed;
  }
}
