.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-mod-backdrop);
}

.content {
  flex: 0 0 auto;
  position: relative;
  padding: var(--space-lg);
  max-width: calc(100vw - var(--space-lg) * 2);
  max-height: calc(100vh - var(--space-lg) * 2);
  overflow-y: scroll;
}
