.dropdown {
  --_select-max-height: 440px;
  position: absolute;
  top: 100%;
  z-index: 1;
  background-color: var(--background-primary);
  overflow-y: scroll;
  max-height: var(--_select-max-height);
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid var(--_input-color);
  border-top: none;
  border-bottom-left-radius: var(--radius-normal);
  border-bottom-right-radius: var(--radius-normal);
  list-style-type: none;
}

.option {
  &:focus,
  &:focus-within {
    outline: none;
  }
}

.optionPlainText {
  padding: var(--space-sm) var(--space-md);
}

.optionCheck {
  flex: 0 0 32px;
  justify-self: flex-end;
  align-self: center;
  margin: var(--space-md);
  color: var(--text-normal);
}

.itemHighlighted {
  background-color: var(--background-highlight);
}

.emptyState {
  text-align: center;
}
