.showcase {
  background-color: var(--background-floating);
  border-radius: 8px;
  margin: var(--space-md) 0;
  border: 1px solid var(--border-subtle);
  overflow: hidden;
  width: 100%;
}

.content {
  padding: 16px;
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--border-subtle);
}

.source {
  padding: 16px;
  overflow: scroll;
  max-width: 100%;
  max-height: 320px;
  margin: 0;
}
