.container {
  position: relative;
  width: 100%;

  &.open .input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.input {
  position: relative;
  background-color: var(--background-accent);
  border-radius: var(--radius-normal);
  color: var(--text-normal);
  border: var(--_input-border);
  padding: var(--_input-padding);
  font-family: var(--font-normal);
  font-size: var(--_input-font-size);
}

.placeholder {
  color: var(--text-secondary);
}

.chevron {
  position: absolute;
  top: 0;
  right: 4px;
  height: calc(var(--_input-font-size) * 2);
  width: calc(var(--_input-font-size) * 2);
}

.dropdown {
  position: absolute;
  z-index: 1;
  background-color: var(--background-primary);
  width: 100%;
  margin: 0;
  padding: 0;
  border: var(--_input-border);
  border-top: none;
  border-bottom-left-radius: var(--radius-normal);
  border-bottom-right-radius: var(--radius-normal);
  list-style-type: none;
  display: none;

  &:focus {
    outline: none;
  }

  &.dropdownOpen {
    display: block;
  }
}

.itemContainer {
  margin: 0;
  padding: var(--_input-padding);
}

.itemHighlighted {
  background-color: var(--background-highlight);
}

.disabled {
  cursor: not-allowed;
  opacity: 60%;
}
