.container {
  position: relative;
  width: 100%;
}

.input {
  position: relative;
  background-color: var(--background-accent);
  color: var(--text-normal);
  border: 2px solid var(--accent-primary);
  padding: 5.5px var(--space-md);
  font-family: var(--font-normal);
  font-size: 18px;
}

.placeholder {
  color: var(--text-secondary);
}

.chevron {
  position: absolute;
  right: 6px;
  top: 4px;
  height: 32px;
  width: 32px;
}

.dropdown {
  position: absolute;
  z-index: 1;
  background-color: var(--background-accent);
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid var(--accent-primary);
  border-top: none;
  list-style-type: none;
  display: none;

  &:focus {
    outline: none;
  }

  &.dropdownOpen {
    display: block;
  }
}

.itemContainer {
  margin: 0;
  padding: 5.5px var(--space-md);
}

.itemHighlighted {
  background-color: var(--background-primary);
}

.disabled {
  cursor: not-allowed;
  opacity: 60%;
}
