.input {
  background-color: var(--background-accent);
  color: var(--text-normal);
  border: 2px solid var(--_input-border);
  padding: var(--space-sm) var(--space-md);
  font-family: var(--font-normal);
  font-size: 18px;
  width: 100%;

  &::placeholder {
    color: var(--text-secondary);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 60%;
  }
}

.accent {
  --_input-border: var(--accent-primary);
}
.default {
  --_input-border: var(--status-default-background);
}
.success {
  --_input-border: var(--status-success-background);
}
.warning {
  --_input-border: var(--status-warning-background);
}
.danger {
  --_input-border: var(--status-danger-background);
}
.info {
  --_input-border: var(--status-info-background);
}
