.container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &.open .inputRow {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.inputRow {
  display: flex;
  width: 100%;
}

.input {
  flex: 1 1 auto;
  padding: var(--_input-padding);
  margin: 0;
  border: none;
  background: none;

  &:focus,
  &:focus-within {
    outline: none;
  }
}

.chevron {
  flex: 0 0 auto;
}

.placeholder {
  color: var(--text-secondary);
}
