.container {
  position: relative;
  align-items: center;

  &[data-open="true"] .inputRow {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.inputRow {
  width: 100%;
}

.input {
  flex: 1 1 auto;
  width: 100%;
  margin: 0;
  border: none;
  background: none;
  color: var(--interactive-normal);

  &:focus,
  &:focus-within {
    outline: none;
  }
}

.chevron {
  flex: 0 0 auto;
}

.placeholder {
  color: var(--text-secondary);
}
