.horizontal {
  border-bottom: var(--_divider-border);
  width: 100%;
  align-self: stretch;
}

.vertical {
  border-right: var(--_divider-border);
  align-self: stretch;
}

.strong {
  --_divider-border: 1px solid var(--border-primary);
}
.subtle {
  --_divider-border: 1px solid var(--border-subtle);
}
