.checkbox {
  display: block;
  display: flex;
  align-items: flex-start;
  gap: var(--space-md);
  padding: var(--space-sm) 0;
}

.iconContainer {
  flex: 0 0 auto;
  box-sizing: border-box;
  color: var(--_input-color);
  padding: 2px;
  border-radius: var(--radius-normal);
  border: 2px solid var(--_input-color);
}

.icon {
  display: block;
  color: var(--control-foreground);
}

.label {
  flex: 1 1 auto;
}

.disabled {
  cursor: not-allowed;
  opacity: 60%;
}
