.itemContainer {
  display: flex;
  align-items: flex-start;
  gap: var(--space-md);
  width: 100%;
  margin: 0;
  padding: var(--_input-padding);
  color: var(--text-normal);
}

.itemIcon {
  flex: 0 0 24px;
  padding: 4px;
}

.itemLabel {
}

.itemHighlighted {
  background-color: var(--background-highlight);
}

.disabled {
  cursor: not-allowed;
  opacity: 60%;
}
